# === Python-related ===
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# === Virtual Environment ===
venv/
env/
.venv/

# === Model files ===
*.pkl

# === Data files (if too large) ===
*.csv

# === Jupyter Notebook Checkpoints ===
.ipynb_checkpoints/

# === IDE settings ===
.vscode/
.idea/
*.swp

# === OS & Misc ===
.DS_Store
Thumbs.db

# === Log files ===
*.log

# === Streamlit cache ===
.streamlit/

# === PPT & media ===
*.pptx
*.pdf
*.mp4
*.avi
*.zip
